    <!-- Below are the links that include jQuery into this web application and my styles.js which does a lot of heavy lifting to make this application run properly -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="styles.js" charset="utf-8"></script>
  </body>
</html>
