<%- include('header', {tabTitle: "I'm David John"}); -%>

    <form class="" action="/all" method="post">
      <br>
      <button type="submit" name="button">Get All Countries!</button>
      <br>
    </form>
    <form class="" action="/by-name" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-fullName" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-country-code" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-currency" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-language-code" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-capital-city" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-calling-code" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-region" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>
    <form class="" action="/by-regional-block" method="post">
      <br>
      <input type="text" name="" value="">
      <button type="submit" name="button"></button>
      <br>
    </form>

<%- include('footer'); -%>
