<form class="" action="<%= route %>" method="post">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="<%= placeholderText %>" aria-describedby="basic-addon2" autocomplete="off">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit"><%= buttonText %></button>
    </div>
  </div>
</form>
